.tableBtnSel {
    background-color: #ff6600;
    border: none;
    margin: 5px;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    text-transform: capitalize;
}

.tableBtn {
    text-transform: capitalize;
    background-color: #fff;
    border: none;
    margin: 5px;
    padding: 5px 10px;
    color: #000;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.menuContainer {
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: bisque; */
    /* justify-content: center; */
    align-items: center;

}

.menuItem img {
    width: 250px;
    height: 200px;
    border-radius: 10px;

}

.menuItem {
    width: 250px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    height: 38vh;
}

.head {
    display: flex;
    justify-content: space-between;
}

.price {
    color: #ff6600;
}

.ingredients {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 8vh;
}

.ingredients p {
    padding: 0;
    margin: 0;
    color: #6a6868;
}

.addBtn {

    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}

.btnDiv {

    display: flex;
    justify-content: end;
    align-items: center;
}

.mainContainer {
    display: flex;
    justify-content: center;
    width: 75%;
}

.menuContainer {
    flex: 75;
    height: 65vh;
    overflow: scroll;
}

.menuContainer::-webkit-scrollbar {
    display: none;
}

.currentCart {
    border-left: 1px solid #ddd;
    position: absolute;
    top: 10%;
    left: 75%;
    width: 25%;
    flex: 25;
    height: 88vh;
}

.cartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55vh;
    overflow-y: auto;
    padding: 10px;
    border-radius: 20px;

}

.cartItem {
    padding: 10px;
    display: flex;
    align-items: center;
    width: 90%;
    border: .5px solid #ddd;
    justify-content: space-between;
    border-radius: 15px;
    margin-bottom: 10px;
}

.cartItem img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.cartHead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.cartContainer::-webkit-scrollbar {
    display: none;

}

.qbtn1 {
    padding: 0;
    margin-right: 10px;
    background-color: #ddd;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 5px;
}

.qbtn2 {
    padding: 0;
    margin-left: 10px;
    background-color: #ff6600;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    color: white;
}

.total {
    margin: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

.idiv {
    display: flex;
    justify-content: space-between;
}

.orderBtnDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.orderBtn {
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #ff6600;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
}

.placeOrder {
    padding: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}