.mainDiv {
    display: flex;
    padding: 2rem;
    padding-bottom: 0;
    justify-content: space-between;
}

.leftSide {
    height: 85vh;
    flex: 40%;
}

.rightSide {
    height: 70vh;
    flex: 60%;
    padding: 0rem 3rem;

}


.orderList {
    height: 85vh;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin-top: 1rem;
}

.heading {
    font-size: 1.5rem;
    padding: 1rem;
    border-bottom: 2px solid #ddd;
}

.list {
    height: 75vh;
    overflow-y: scroll;
}

.list::-webkit-scrollbar {
    display: none;
}

.listItem {
    background-color: #f0f0f0;
    margin: 1rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 10px;
    text-transform: capitalize;
    line-height: 2.5rem;
}

.selected {
    background-color: #ff6600;
    color: white;
}

.heading2 {

    display: flex;
    justify-content: space-between;
}

.detailsDiv {
    margin-top: 1rem;
    border-top: 2px solid #ddd;
    padding: 2rem 0rem;
}

.DetailMain {
    color: #ddd;
    padding: 2rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Detail {
    color: #000;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}

.Detail h3 {
    font-size: 1.5rem;
    color: #ccc;
}

.Detail p {
    font-weight: bold;
    font-size: 1.5rem;
}

.orderItems {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 45vh;
    overflow-y: auto;
    padding: 10px 0px;
    padding-bottom: 1rem;
    border-radius: 20px;

}


.item {
    padding: 10px;
    display: flex;
    align-items: center;
    width: 90%;
    border: .5px solid #ddd;
    justify-content: space-between;
    border-radius: 15px;
    margin-bottom: 10px;
}

.item img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.item span {
    color: #ff6600;
}

.itemName {
    font-size: 1.5rem;
    font-weight: bold;
}

.itemPrice {
    color: #ff6600;
    font-size: 1.5rem;
    font-weight: bold;
}

.sdiv {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.print {
    width: 20rem;
    font-size: 1.5rem;
    color: #fff;
    background-color: #ff6600;
}

.btnDiv {
    display: flex;
    justify-content: space-evenly;

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.payment {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.payButton {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.cancelButton {
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.pways {
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-evenly;
}

.btns {
    display: flex;
    justify-content: space-evenly;
}