.active svg {
  color: #fff;
}

.active p {
  color: #fff;
}

.active {

  border-radius: 5px;
  background-color: #ff6600;
  color: #fff !important;
}

.contentDiv {
  margin-left: 120px;
  margin-right: 30px;
}

body,
html {
  height: 100%;
}